@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$montseratt: 'Montserrat', sans-serif;

$serif: georgia,"times new roman",times,serif;
$sans-serif: arial, helvetica, sans-serif;