.rest-reservation {
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $montseratt;
}

.res-submit {
    background-color: $magenta;
    border-style: none;
    border-radius: 3px;
    height: 30px;
    width: 180px;
    font-family: inherit;
    color: white;
    margin-inline: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.resi-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bolder;
    margin-bottom: 25px;
}

.resi-form {
    width: 100%;
    margin-bottom: 20px;
}

.resi-detail {
    width: 30%;
    height: 50px;
    font-weight: 500;
    // border-bottom: 1px solid $light-gray;
    // padding-inline: 3px;
    // margin-inline: 2px;
}

.resi-dropdown {
    border: none;
    border-bottom: 1px solid $light-gray;
    width: 100%;
    height: 100%;
    font-family: inherit;
}

.resi-dropdown:hover {
    cursor: pointer;
    border-bottom: 2px solid $magenta;
}

.resi-dropdown:focus {
    outline: none;
}