.rest-index-container {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.restaurant-image {
    height: 50%;
    width: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.restaurant-card {
    height: 250px;
    width: 236px;
    margin: 15px;
    border: 1px solid $light-gray;
    border-radius: 5px;
    font-family: $montseratt;
    font-weight: 900;
    text-decoration: none;
    color: black;
    transition: all 1s ease 0s;
}

.restaurant-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    -webkit-box-shadow: 0 2px 6px $light-gray;
    -moz-box-shadow:    0 2px 6px $light-gray;
    box-shadow:         0 2px 6px $light-gray;
}

.rest-title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.rest-city {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.res-header{
    border-bottom: solid lightgray 1px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-family: $montseratt;
}
.res-header h2{
    font-size: 21px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 20px;
}

.res-icon-cont{
    display: flex;
    // #restaurant-link{
    //     text-decoration: none;
    //     color:black;
    //     cursor: pointer;
    //     padding: 0 15px 0 0;
    // }
}

a {
    text-decoration: none;
}