.rest-background {
    width: 100%;
    height: 320px;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    background-repeat: no-repeat;
    background-position: 0% 75%;
    background-size: cover;
}

.rest-show {
    width: 600px;
    margin: 0 auto;
    font-family: $montseratt;
    // border: 1px solid black;
}

.show-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: boldest;
    font-size: 45px;
    padding-left: 9px;
}

.rest-rate-review {
    padding-top: 15px;
    padding-left: 9px;
    padding-right: 9px;
    border-top: 1px solid $light-gray;
    font-size: 15px;
    font-weight: boldest;
}

.rest-reservation {
    margin-top: 20px;
    -webkit-box-shadow: 0 2px 8px $light-gray;
    -moz-box-shadow:    0 2px 8px $light-gray;
    box-shadow:         0 2px 8px $light-gray;
}
.reservation-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid $light-gray;
}

.reservation-details {
    width: 94%;
    margin: 0 auto;
    padding-top: 9px;
    padding-bottom: 9px;
}

.rest-delivery-takeout {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 2px 8px $light-gray;
    -moz-box-shadow:    0 2px 8px $light-gray;
    box-shadow:         0 2px 8px $light-gray;
}

.del-tak-title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 94%;
    margin: 0 auto;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid $light-gray;
}

.del-tak-details {
    width: 94%;
    margin: 0 auto;
    padding-top: 9px;
    padding-bottom: 9px;
}

.description {
    font-size: 13px;
    line-height: 25px;
    width: 90%;
    margin: 0 auto;
}

.rest-details {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
    .det-title {
        font-weight: bolder;
        margin-top: 14px;
    }
    .det-detail {
        font-weight: lighter;
    }
}

.rest-show-titles {
    margin-bottom: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #e2e2e2;
}

.menu-images-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-image {
    width: 150px;
    height: 150px;
    margin-right: 2px;
}

.rest-menu-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rest-menu-items-container {
    width: 50%;
}

.menu-items {
    font-size: 13px;
    font-weight: 100;
    line-height: 25px;
}

.items-title {
    font-size: 13px;
    font-weight: 900;
}