.search-page-outer-container {

}

.search-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: $dark-gray;
}

.search-page-inner-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    margin-top: 24px;
}

.restaurant-search-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    padding-bottom: 18px;
    margin-bottom: 12px;
}

.restaurant-search-inner-container {
    padding-top: 0.5vh;
    padding-left: 1vw;
}

.search-page-img {
    width: 100px;
    height: 100px;
    border-radius: 3px;
}

.search-title {
    color: $blue-green;
}