.search-page-outer-container {

}

.search-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    background-color: $dark-gray;
}

.search-page-inner-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.search-page-img {
    width: 80px;
    height: 80px;
}