.user-show-container {
    background-color: $lightest-gray;
}

.past-reservations {
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    font-family: $montseratt;
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 180px;
    min-width: 500px;
    border: 1px solid $light-gray;
}

.reservation-container {
    border-top: 1px solid $light-gray;
    padding: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.res-rest-image {
    height: 90px;
    width: 90px;
    border-radius: 7px;
}

.res-detail-container {
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 15px;
    width: 100%;
}

.table-status {
    font-size: 12px;
    font-weight: 600;
    color: gray;
}

.resi-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: $blue-green;
}

.username {
    font-family: $montseratt;
    font-size: 30px;
    font-weight: 600;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    padding: 15px;
    background-color: white;
}

.past-resi-title {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: right;
}